@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navSize {
    height: 10vh;
  }
  .content_bg {
    background-image: url('../public/assests/images/background.png');
    min-height: 80.7vh;
    background-size: cover;
    background-repeat: repeat;
  }
}
