@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navSize {
    padding: 0.5rem 0;
  }
  .content_bg {
    background-image: url('../public/assests/images/background.png');
    min-height: 80.7vh;
    background-size: contain;
    background-position: center;
  }
}
